{% extends "common/base.html" %}

{% block css %}
<style type="text/css">
	/* General */
	.test-step{
		padding: 0px;
		margin-top: 100px;
		background: #3d312c;
		border-radius: 10px;
		color: #fff;
	}
	.step-title {
		font-size: 20px;
		font-weight: bold;
		margin-bottom: 20px;
		margin-top: 10px;
	}

	/* Step 1 */
	#file-form {
		display: flex;
		flex-direction: row;
		justify-content: center;
	}
	/* Self-defined style of input */
	#custom-fileinput {
		display: inline-block;
		height: 34px;
		margin: 0;
	}
	#custom-fileinput {
		width: 120px;
		line-height: 34px;
		border: 1px solid #3b1f14;
		border-radius: 5px;
		color: #fff;
		background-color: #3b1f14;
		cursor: pointer;
	}
	#custom-fileinput:hover {
		width: 120px;
		line-height: 34px;
		border: 1px solid #ca9681;
		border-radius: 5px;
		color: #fff;
		background-color: #ca9681;
		cursor: pointer;
	}
	#origin-fileinput {
		width: 120px;
		height: 34px;
		opacity: 0;
		position: relative;
		top: -34px;
		display: inline-block;
	}
	#showfilename {
		display: block;
		margin-top: 10px;
		margin-bottom: 10px;
		text-align: center;
	}

	/* Step 2 */
	.step2 {
		margin-top: 50px;
	}
	.checkbox {
		margin-top: 0px;
	}

	/* Step 3 */
	.step3 {
		margin-top: 50px; 
	}
	/* Custom Bootstrap3 input form-control focus outline style */
	.customErrorInput {
		display: block;
		width: 100%;
		height: 34px;
		padding: 6px 12px;
		font-size: 14px;
		line-height: 1.42857143;
		color: #555;
		background-color: #fff;
		background-image: none;
		border: 1px solid #ccc;
		border-radius: 4px;
		border-color: red;
    	outline: 0;
    	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(223, 15, 50, 0.884);
    	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(223, 15, 50, 0.884);
		-webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
		-o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	}
	.errorTipHide {
		margin-left: 10px;
		opacity: 0;
	}
	.errorTipDisplay {
		margin-left: 10px;
		opacity: 1;
		color:  rgba(223, 15, 50, 0.884);
		text-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(223, 15, 50, 0.884);
		-webkit-transition: opacity ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
		-o-transition: opacity ease-in-out .15s,text-shadow ease-in-out .15s;
		transition: opacity ease-in-out .15s,text-shadow ease-in-out .15s;
	}

	/* Start */
	#submit-btn {
		margin-top: 20px;
	}
</style>
{% endblock %}

{% block content %}
<div class="test-step step1">
	<div class="row">
		<div class="col-sm-12 text-center">
			<p class="step-title">Step 1&nbsp;&nbsp;&nbsp;Upload File</p>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-12 text-center">
			<form id="file-form">
				<div id="custom-fileinput">
					Select File
					<input type="file" name="file" id="origin-fileinput"/>
				</div>
			</form>
			<span id="showfilename">You have not select the file</span>
		</div>
	</div>
	<!-- Progress bar and prompt box of not selecting file -->
	<div class="row">
		<div class="col-sm-12" id="progress-container"></div>
	</div>
</div>

<div class="test-step step2">
	<div class="row">
		<div class="col-sm-12 text-center">
			<p class="step-title">Step 2&nbsp;&nbsp;&nbsp;Select Tests</p>
		</div>
	</div>
	<div class="row">
		<form id="testProps-form">
			<div class="row" style="margin-left: 0px; margin-right: 0px">
				<div class="col-xs-2 col-sm-3 col-md-3 col-lg-4"></div>
				<div class="col-xs-4 col-sm-3 col-md-3 col-lg-3">
					<span class="checkbox">
						<input type="checkbox" id="frequencyTest" checked>Frequency Test				
					</span>
				</div>
				<div class="col-xs-5 col-sm-4 col-md-4 col-lg-4">
					<span class="checkbox">
						<input type="checkbox" id="frequencyTestWithinABlock" checked>Frequency Test within a Block						
					</span>
				</div>
				<div class="col-xs-1 col-sm-1 col-md-2 col-lg-1"></div>
			</div>
			<div class="row" style="margin-left: 0px; margin-right: 0px">
				<div class="col-xs-2 col-sm-3 col-md-3 col-lg-4"></div>
				<div class="col-xs-4 col-sm-3 col-md-3 col-lg-3">
					<span class="checkbox">
						<input type="checkbox" id="runsTest" checked>Runs Test						
					</span>
				</div>
				<div class="col-xs-5 col-sm-4 col-md-4 col-lg-4">
					<span class="checkbox">
						<input type="checkbox" id="longestRunOfOnesInABlock" checked>Test for the Longest Run of Ones in a Block					
					</span>
				</div>
				<div class="col-xs-1 col-sm-1 col-md-2 col-lg-1"></div>
			</div>
		</form>
	</div>
	<!-- Give warning prompt box if none test selected -->
	<div class="row">
		<div class="col-sm-12" id="prompt-container"></div>
	</div>
</div>

<div class="test-step step3">
	<div class="row">
		<div class="col-sm-12 text-center">
			<p class="step-title">Step 3&nbsp;&nbsp;&nbsp;Parameters Setting</p>
		</div>
	</div>
	<div class="row" style="margin-left: 0px; margin-right: 0px">
		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-2"></div>
		<div class="col-xs-5 col-sm-5 col-md-5 col-lg-4 text-right">
			<span>Amount of sequences :</span>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<span style="display: inline-block">
				<input type="text" class="form-control" name="amount" id="amount" style="color: black" placeholder="Input amount"/>						
			</span>
			<span class="errorTipHide">* Please input a positive integer</span>
		</div>
	</div>
	<div class="row" style="margin-left: 0px; margin-right: 0px; margin-top: 15px">
		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-2"></div>
		<div class="col-xs-5 col-sm-5 col-md-5 col-lg-4 text-right">
			<span>Length of a sequence :</span>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<span style="display: inline-block">
				<input type="text" class="form-control" name="length" id="length" style="color: black" placeholder="Input length"/>					
			</span>
			<span class="errorTipHide">* Please input a positive integer</span>
		</div>
	</div>
	<div class="row" style="margin: 15px 0px 0px 0px">
		<div class="col-xs-1 col-sm-1 col-md-1 col-lg-2"></div>
		<div class="col-xs-5 col-sm-5 col-md-5 col-lg-4 text-right">
			<span>Block length of frequency test within a block :</span>
		</div>
		<div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
			<span style="display: inline-block; margin-bottom: 10px">
				<input type="text" class="form-control" name="blockLengthOfFTWAB" id="blockLengthOfFTWAB" style="color: black" placeholder="Input block length"/>				
			</span>
			<span class="errorTipHide">* Please input a positive integer</span>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-sm-12 text-center">
		<input class="btn btn-primary" type="button" value="Start" id="submit-btn"/>
	</div>
</div>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>

<script type="text/javascript">
	// Global flags
	var fileUploadSuccess = false;

	// Use AJAX to upload file by jQuery
	function uploadFile() {
		var xhrOnProgess = function(func) {
			// Bind progress listener
			xhrOnProgess.onprogress = func; 
			return function() {
				var xhr = $.ajaxSettings.xhr();
				if (typeof xhrOnProgess.onprogress !== 'function') {
					return xhr;
				}
				if (xhrOnProgess.onprogress && xhr.upload) {
					xhr.upload.onprogress = xhrOnProgess.onprogress;
				}
				return xhr;
			};
		};
		var file = $("#origin-fileinput")[0].files[0];
		var form = new FormData();
		form.append('file', file);
		$.ajax({
			type: 'POST',
			url: '/test',
			data: form,
			processData: false,
			contentType: false,
			xhr: xhrOnProgess(function(e) {
				percent = e.loaded / e.total;
				percentDisplay = parseInt((e.loaded / e.total) * 100) + '%';
				var width = $("#progress-container").width();
				$("#progress-bar").css("width", (percent * width));
				$("#progress-bar").html(percentDisplay);
			}),
			success: function(data) {
				fileUploadSuccess = true;
			},
		});
	}

	// Submit parameters and start tests
	function postParas(postData) {
		$.ajax({
			type: 'POST',
			url: '/test',
			data: JSON.stringify(postData),
			contentType: 'application/json; charset=utf-8',
			success: function(data) {
				window.location.href = "http://" + window.location.host + "/result";
			},
		});
	}

	// Test positive integer string
	function testPositiveInteger(str) {
		var reg = /^[1-9][0-9]*$/;
		return reg.test(str);
	}

	// Verify input and give error tips
	function veryfyInput() {
		var value = $(this).val();
		var isPositveInteger= testPositiveInteger(value);
		if (!isPositveInteger) {
			$(this).removeClass('form-control');
			$(this).addClass('customErrorInput');
			$(this).parent().next().removeClass('errorTipHide');
			$(this).parent().next().addClass('errorTipDisplay');
		} else {
			$(this).removeClass('customErrorInput');
			$(this).addClass('form-control');
			$(this).parent().next().removeClass('errorTipDisplay');
			$(this).parent().next().addClass('errorTipHide');
		}
	}

	// Handle params to be upload
	function handleParams() {
		var checkFlag = 0;
		var start = "";
		var amount = document.getElementById("amount").value;
		var length = document.getElementById("length").value;
		var blockLengthOfFTWAB = document.getElementById("blockLengthOfFTWAB").value;
		var isSelected = new Object();
		isSelected.frequencyTest = document.getElementById("frequencyTest").checked === true ? 1 : 0;
		isSelected.frequencyTestWithinABlock = document.getElementById("frequencyTestWithinABlock").checked === true ? 1 : 0;
		isSelected.runsTest = document.getElementById("runsTest").checked === true ? 1 : 0;
		isSelected.longestRunOfOnesInABlock = document.getElementById("longestRunOfOnesInABlock").checked === true ? 1 : 0;
		// If none test selected in step 2, give warning
		var testCount = 0;
		for (var test in isSelected) {
			testCount += isSelected[test];
		}
		if (!testCount) {
			// Display the prompt box if none test selected
			var warningContent = 
				'<div class="alert alert-warning alert-dismissible" role="alert" style="text-align: center">' + 
					'<button type="button" class="close" data-dismiss="alert" aria-label="Close">' + 
						'<span aria-hidden="true">' + `&times;` + '</span>' + 
					'</button>' + 
					'<strong>' + 'Warning!&nbsp;&nbsp;' + '</strong>' + 
					'Please select at least one test.' +
				'</div>';
				$("#prompt-container").html(warningContent);
				checkFlag = 1;
		} else {
			var warningContent = '';
			$("#prompt-container").html(warningContent);
		}
		// If no input parameters in step 3, give tips
		if (!amount || !testPositiveInteger(amount)) {
			$('#amount').addClass('customErrorInput');
			$('#amount').parent().next().addClass('errorTipDisplay');
			checkFlag = 1;
		};
		if (!length || !testPositiveInteger(length)) {
			$('#length').addClass('customErrorInput');
			$('#length').parent().next().addClass('errorTipDisplay');
			checkFlag = 1;
		};
		if (!blockLengthOfFTWAB || !testPositiveInteger(blockLengthOfFTWAB)) {
			$('#blockLengthOfFTWAB').addClass('customErrorInput');
			$('#blockLengthOfFTWAB').parent().next().addClass('errorTipDisplay');
			checkFlag = 1;
		};
		if (checkFlag) {
			return false;
		}
		var postData = {
			amount: parseInt(amount),
			length: parseInt(length),
			blockLengthOfFTWAB: parseInt(blockLengthOfFTWAB),
			isSelected: isSelected,
			start: ""
		};
		return postData;
	}
	
	// Event listeners in jQuery
	$(document).ready(function() {
		// Show the file path and upload file
		$("#origin-fileinput").change(function(e) {
			var filePath = $(this).val();
			if (filePath) {
				$("#showfilename").html(filePath);
				e.preventDefault();
				// Display the progress bar with 0%
				var progressContent = 
				'<div class="progress" id="progress">' + 
					'<div id="progress-bar" class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="min-width: 2em; width: 0%;">' +
						'0%' +
					'</div>' +
				'</div>';
				$("#progress-container").html(progressContent);
				// Start uploading
				uploadFile();
				// Hack the problem --- file type input cannot trigger change event for the same file.
				$('#origin-fileinput').val('');
			} 
		});
		// Click the button to post parameters
		$("#submit-btn").click(function(e) {
			e.preventDefault();
			if (fileUploadSuccess) {
				var postData = handleParams();
				if (postData) {
					postParas(postData);
				}
			} else {
				// Display the prompt box of not selecting file
				var warningContent = 
				'<div class="alert alert-warning alert-dismissible" role="alert" style="text-align: center">' + 
					'<button type="button" class="close" data-dismiss="alert" aria-label="Close">' + 
						'<span aria-hidden="true">' + `&times;` + '</span>' + 
					'</button>' + 
					'<strong>' + 'Warning!&nbsp;&nbsp;' + '</strong>' + 
					'Please select the file you will upload first.' +
				'</div>';
				$("#progress-container").html(warningContent);
			}
		});
		// Event listener in step3
		$('#amount').on('input', veryfyInput);
		$('#length').on('input', veryfyInput);
		$('#blockLengthOfFTWAB').on('input', veryfyInput);
	});
</script>
{% endblock %}